<!DOCTYPE html>
<html>
<body>

<h1>WEBAPP IN DEVELOPEMNET <br> </h1>
<h3>An instance is already running in another tab.<br><br>
    The web app  can only run an instance at a time in a browser.<br>
    <br>
    To run multiple instances: <br>
    <br>
        1) Open the web app in incognito mode (if on the same browser)<br><br>
        2) Run in another browser.<br>
            **If the web app is already running in Chrome, open the web app in Firefox<br><br>
        3) Open the web app on another device or machine<br>
        <br>   
    Sorry for any inconveniences caused.<br>
    We hope to improve the web app as soon as possible.<br>
    Thank you for using the web app.
    </h3>

</body>
</html>